.label {
  font-size: 10px;
  padding: 3px 8px;

}

.badge {
  font-size: 11px;
  padding: auto 6px 4px;
}

.label,
.badge {
  background-color: @light-gray;
  color: @label-badge-color;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-shadow: none;
  &-primary {
    background-color: @navy;
    color: #FFFFFF;
  }

  &-done {
    background-color: @skin-1-color;
    color: #FFFFFF;
  }

  &-success {
    background-color: @blue;
    color: #FFFFFF;
  }

  &-warning {
    background-color: @yellow;
    color: #FFFFFF;
  }

  &-warning-light {
    background-color: @yellow;
    color: #ffffff;
  }

  &-danger {
    background-color: @red;
    color: #FFFFFF;
  }

  &-info {
    background-color: @lazur;
    color: #FFFFFF;
  }

  &-inverse {
    background-color: #262626;
    color: #FFFFFF;
  }

  &-white {
    background-color: #FFFFFF;
    color: #5E5E5E;
  }

  &-disable {
    background-color: #2A2E36;
    color: #8B91A0;
  }
}
