// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }

  body {
    overflow: visible !important;
  }

  #page-wrapper {
    margin: 0;
  }
}

// Set height for main blaze element
#__blaze-root {
  height: 100%
}

.campaign-car {
  position: relative;
  a.close-link {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    color: #c4c4c4;
    &:hover,
    &:focus {
      color: darken(#c4c4c4, 7%);
    }
  }
}

.chat-list {
  &__item:hover {
    cursor: pointer;
  }
}

.upload-file {
  & &__input {
    display: none;
  }
}

.not-found-image {
  max-width: 200px;
  margin: auto;
}