.metismenu {
  .plus-minus,
  .plus-times {
    float: right
  }
  .arrow {
    float: right;
    line-height: 1.42857
  }

  .glyphicon.arrow:before {
    content: "\e079"
  }

  .active > a > {
    .glyphicon.arrow:before {
      content: "\e114"
    }
    .ion.arrow:before {
      content: "\f3d0"
    }
    .fa {
      &.arrow:before {
        content: "\f107"
      }

      &.plus-times {
        transform: rotate(45deg)
      }

      &.plus-minus:before {
        content: "\f068"
      }
    }
  }

  .fa {
    &.arrow:before {
      content: "\f104"
    }
    &.plus-minus:before,
    &.plus-times:before {
      content: "\f067"
    }

  }

  .ion.arrow:before {
    content: "\f3d2"
  }

  .collapse {
    display: none;
    &.in {
      display: block
    }
  }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height, visibility
  }

}

.mini-navbar .metismenu {
  .collapse {
    opacity: 0;
    &.in {
      opacity: 1;
      a {
        display: block
      }
    }
    a {
      display: none
    }
  }
}
