/*
 *
 *   SKIN 1 - INSPINIA - Responsive Admin Theme
 *   NAME - Blue light
 *
*/

// Main colors
@skin-1-color: #0e9aef;
@skin-1-nav-bg: #3e495f;
@skin-1-a-color: #9ea6b9;
@skin-1-page-bg: #f4f6fa;

// Custom style
body.skin-1 {
  background: @skin-1-nav-bg;
}

.skin-1 {
  .minimalize-styl-2 {
    margin: 14px 5px 5px 30px;
  }

  .navbar-top-links li:last-child {
    margin-right: 30px;
  }

  .fixed-nav .minimalize-styl-2 {
    margin: 14px 5px 5px 15px;
  }

  .spin-icon {
    background: @skin-1-color !important;
  }

  .nav-header {
    background-color: @skin-1-color;
    background-image: url('patterns/header-profile-skin-1.png');
  }

  &.mini-navbar .nav-second-level {
    background: @skin-1-nav-bg;
  }

  .breadcrumb {
    background: transparent;
  }

  .page-heading {
    border: none;
  }

  .nav > li.active {
    background: darken(@skin-1-nav-bg, 2%);
  }

  .nav > li > a {
    color: @skin-1-a-color;
  }

  ul.nav-second-level {
    background-color: inherit;
  }

  .nav > li.active > a {
    color: #fff;
  }

  .navbar-minimalize {
    background: @skin-1-color;
    border-color: @skin-1-color;
  }

  .navbar-static-top {
    background: #ffffff;
  }

  .dashboard-header {
    background: transparent;
    border-bottom: none !important;
    border-top: none;
    padding: 20px 30px 10px 30px;
  }

  &.fixed-nav .navbar-fixed-top {
    background: #fff;
  }

  .wrapper-content {
    padding: 30px 15px;
  }

  #page-wrapper {
    background: @skin-1-page-bg;
  }

  .ibox-title,
  .ibox-content {
    border-width: 1px;
  }

  .ibox-content:last-child {
    border-style: solid solid solid solid;
  }

  .nav > li.active {
    border-color: @skin-1-color;
  }

  .nav-header {
    padding: 35px 25px 25px 25px;
  }

  .nav-header a.dropdown-toggle {
    color: #fff;
    margin-top: 10px;
    .text-muted {
      color: #fff;
      opacity: 0.8;
    }
  }

  .profile-element {
    text-align: center;
  }

  .img-circle {
    border-radius: 5px;
  }

  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus {
    background: darken(@skin-1-nav-bg, 2%);
    color: #fff;
  }

  .nav.nav-tabs > li.active > a {
    color: #555;
  }

  .nav.nav-tabs > li.active {
    background: transparent;
  }
}

// Main colors
@skin-3-color: #ecba52;
@skin-3-nav-bg: #3e2c42;
@skin-3-a-color: #948b96;
@skin-3-page-bg: #f4f6fa;

body.boxed-layout.skin-3 #wrapper {
  background: @skin-3-nav-bg;
}

body.skin-3 {
  background: @skin-3-nav-bg;
}

// Custom style
.skin-3 {
  .pace .pace-progress {
    background: @skin-3-nav-bg;
  }
  .minimalize-styl-2 {
    margin: 14px 5px 5px 30px;
  }

  .navbar-top-links li:last-child {
    margin-right: 30px;
  }

  .skin-3.fixed-nav .minimalize-styl-2 {
    margin: 14px 5px 5px 15px;
  }

  .spin-icon {
    background: @skin-3-color !important;
  }

  .nav-header {
    background-color: @skin-3-color;
    background-image: url('patterns/header-profile-skin-3.png');
  }

  &.mini-navbar .nav-second-level {
    background: @skin-3-nav-bg;
  }

  .breadcrumb {
    background: transparent;
  }

  .page-heading {
    border: none;
  }

  ul.nav-second-level {
    background-color: inherit;
  }

  .nav > li.active {
    background: darken(@skin-3-nav-bg, 2%);
  }

  &.fixed-nav .navbar-fixed-top {
    background: #fff;
  }

  .nav > li > a {
    color: @skin-3-a-color;
  }

  .nav > li.active > a {
    color: #fff;
  }

  .navbar-minimalize {
    background: @skin-3-color;
    border-color: @skin-3-color;
  }

  .navbar-static-top {
    background: #ffffff;
  }

  .dashboard-header {
    background: transparent;
    border-bottom: none !important;
    border-top: none;
    padding: 20px 30px 10px 30px;
  }

  .wrapper-content {
    padding: 30px 15px;
  }

  #page-wrapper {
    background: @skin-3-page-bg;
  }

  .ibox-title, .ibox-content {
    border-width: 1px;
  }

  .ibox-content:last-child {
    border-style: solid solid solid solid;
  }

  .nav > li.active {
    border: none;
  }

  .nav-header {
    padding: 35px 25px 25px 25px;
  }

  .nav-header a.dropdown-toggle {
    color: #fff;
    margin-top: 10px;
  }

  .nav-header a.dropdown-toggle .text-muted {
    color: #fff;
    opacity: 0.8;
  }

  .profile-element {
    text-align: center;
  }

  .img-circle {
    border-radius: 5px;
  }

  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus {
    background: darken(@skin-3-nav-bg, 2%);
    color: #fff;
  }

  .nav.nav-tabs > li.active > a {
    color: #555;
  }

  .nav.nav-tabs > li.active {
    background: transparent;
  }
}
